# Server
PORT=3001
HOST=127.0.0.1
JWT_SECRET=change-me-before-production
DB_HOST=http://192.168.0.2
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=node_explorer

# Client
PUBLIC_API_BASE_URL=http://127.0.0.1:3001